@font-face {
  font-family: "nanum";
  src: url("./statics/fonts/NanumSquareB.ttf");
}

@font-face {
  font-family: "nanumB";
  src: url("./statics/fonts/NanumSquareEB.ttf");
}

@font-face {
  font-family: "london";
  src: url("./statics/fonts/LondonBetween.ttf");
}

@font-face {
  font-family: "londonMM";
  src: url("./statics/fonts/LondonMM.ttf");
}

#root {
  height: 100%;
}

/* body {
  background-image: ;
} */
