@font-face {
  font-family: "nanum";
  src: url("./statics/NanumSquareB.ttf");
}

@font-face {
  font-family: "london";
  src: url("./statics/LondonBetween.ttf");
}

#root {
  height: 100%;
}
/* 
body {
  font-family: nanum;
} */
