.item {
  cursor: pointer;
  width: 100%;
  padding: 10px 40px;
  color: #e1e6ec;
  font-size: 18px;
  font-family: nanum;
  margin: 0px;
  border: none;
  background: rgba(255, 255, 255, 0);
  vertical-align: middle;
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

.item:hover {
  background: #748ffc;
}

.item:visited {
  color: #e1e6ec;
}

.item:active,
.item.active {
  background: #ffffff;
  color: rgba(55, 66, 250, 0.75);
}
